/*Imports fonts */
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=PT+Sans+Narrow:wght@400;700&family=Pirata+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/*styles the webpage links */
a {
    color: #4c5f90; /* Changes the link color */
    font-family: Verdana; /* Changes fonts of links */
    text-decoration: none; /* Removes underline */
    margin-left: 30px;
    font-size: 20px;
  }


p, h2{
    text-align: center; /* centers text */
}

body{
    background-color: #f3efe8;
}

button{
    margin: 22px;
  
    padding: 8px 16px;
    background-color: #058c59;
    color: white;
  
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;

  }
  
/*Styles buisness name */
.company-name{
    font-family: Zain;
    color: #071d57;
}

/*Postions links in the header*/
.links {
    padding-right: 20px; /*Seperates links for easy readibility */
    display: flex; /* Flexbox for alignment */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
    display: flex;
    margin: 0;
    color: #000000;
  }

/* ----------------- Employee Table ------------------- */

  .employee-table {

    margin: 0 auto; /* centers table */
    width: 80%; 
    border-collapse: collapse;
    background: rgb(189, 164, 197);
    border-radius: 12px;
    overflow: hidden;

    font-family: Verdana; /* Changes fonts */
    font-size: 18px;
    color: white;
  }
  
  .employee-table th,
  .employee-table td {
    padding: 12px 16px;
    text-align: left;
  }
  
  /*Table headers */
  .employee-table thead {
    background: #796787;
    font-weight: bolder;
  }
  
  .employee-table tbody tr {
    border-bottom: 3px solid #B9A7C6;
    font-weight: bold;
  }
  
  .employee-table button {
    background: #f54444;
    border: none;
    color: rgb(255, 255, 255);
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;

    font-size: 18px;
  }