/*Imports fonts */
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=PT+Sans+Narrow:wght@400;700&family=Pirata+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/*styles the webpage links */
a {
    color: #4c5f90; /* Changes the link color */
    font-family: Verdana; /* Changes fonts of links */
    text-decoration: none; /* Removes underline */
    margin-left: 30px;
    font-size: 20px;
  }


p, h2{
    text-align: center; /* centers text */
}

body{
    background-color: #f3efe8;
}

button{
    margin: 22px;
  
    padding: 8px 16px;
    background-color: #058c59;
    color: white;
  
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;

  }

/* ----------------- Header Section ------------------- */
/*Styles buisness name */
.company-name{
    font-family: Zain;
    color: #071d57;
}

/*Postions links in the header*/
.links {
    padding-right: 20px; /*Seperates links for easy readibility */
    display: flex; /* Flexbox for alignment */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
    display: flex;
    margin: 0;
  }

/* ----------------- Add Employee Section ------------------- */
.add-employee-container{
  margin: 0px auto 40px auto; 
  width: 80%;
  border-radius: 12px; /* Makes the corners round */
  background: rgb(189, 164, 197, 0.5);

  display: flex;
  flex-direction: column;
  font-family: Verdana; /* Changes fonts */
}

.add-employee-input{
  margin: 10px auto 30px auto;
  width: 80%;
  display: flex;
  align-items: left;
  padding: 4px;

  border: none;
  border-radius: 6px;
  font-size: 15px;
}

.add-employee-input:focus{
border: 3px solid #071d57;
outline: none;
}

label{
  margin: auto;
  display: block;
  width: 80%;

  font-size: 18px;
  font-weight: bold;
}

/* ----------------- Employee Table ------------------- */

  .employee-table {
    margin: 0px auto; /* centers table on the screen */
    width: 80%; /* allows table to take up 80% of the screen width */
    border-radius: 12px; /* Makes the corners round */
    overflow: hidden; /* Makes sure table content does not spill out of the table*/

    font-family: Verdana; /* Changes fonts */
    font-size: 18px;
    color: white; /* Makes all fonts on table white */
    background: rgb(189, 164, 197); 

    /*border-collapse: collapse; */
  }
  
  .employee-table th,
  .employee-table td {
    padding: 12px 16px; 
    text-align: left;
  }
  
  /*Table headers */
  .employee-table thead {
    background: #796787; /* Sets the header background coloor */
    font-weight: bolder; /* Makes the font bold */
  }
  
  .employee-table tbody tr {
    border-bottom: 3px solid #B9A7C6;
    
    font-weight: bold;
  }
  
  .employee-table button {
    background: #f54444; /* Adds color to the button */
    font-size: 18px; 

    padding: 6px 10px; /* Adds space between button edges and font */
    border-radius: 6px; /* Rounds the corners of the button */
    cursor: pointer; /* Changes the cursor of mouse to a pointer */

  }